<!DOCTYPE html>
<html>
<head>
	<title>Pottery By Kim</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/blogpbk.css">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>


<body>

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PBK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      	<li class="nav-item">
        	<a class="nav-link" href="/">Home </a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="/about">About</a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span> </a>
      	</li>
      		<li class="nav-item">
        	<a class="nav-link" href="/contact">Contact</a>
      	</li>
      		<li class="nav-item">
        	<a class="nav-link" href="/sale">For Sale</a>
      	</li>
    	</ul>
    	</form>
  	</div>
	</nav>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Blog Title</h1>
				<h3>10/13/2018</h3>
				<hr>
				<p><!-- start slipsum code -->

Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

<!-- end slipsum code --> </p>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/R8436C9xeDovlmukeakN_rZkNpM4l3srfYTkLh5Ml5WEw4YZA-6qBl4Cy0heenLL49_-lf8UVodAzSunePRVvvIzEWvog3dRIX81ED5eMm1XRhbSltxknpFfyxtfHAODMMkPGAjOrbE7apKE8HdMaMP87ULkGHQzP7rp4sStxuDYJ6PDh_gdAgrEQqgsPm7z1t0qyzChrD_y9EjaldIfthceUEDH0Cr19BHjp5y53uvXOafuOd5qNKwO7tD6_gKWd7jWSyPdOzBRWUPZbmL1YnOOv7IBOv1v_KyopJ43RvlmLZ7NKCmIyLCZimHC4Q1OPCEA4MBJTP7q79l39wu12vsVZQyGRO61AXpmw_241Ph2nB9nIiwLewETH8I1ZFYS2ThOpkXwGbb8PMWiD4QMCxVF7nAKORcgpKM6ux111POzYDicgrur5xNCd5KLBstXWcNqEoett6yiRDJR6Rz_tCKunA5wWPNmplOMWNopZCH2q-CZw-cqIpL0XtY1ypfw31-fuWdrtCiJW3bL0sF7DdoAZTPQjvDP2ZYQva87qZbRnuPH-Om9q72RMhKbC3e7PwwjzUfqCzYhWNCAbOnPpdnpzmpNVRto_2GBAO2135U8wQ9yB5NR65C8oKSFtOr4VFF_DIKO7xadZsHLSz2LCuEx=w458-h609-no" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/3VKrLxsmo5ojJXyz5Yw5yxx7WNJWJF5Xtb_R6tJwOSSR5TnHhQe2WhIb43s_Vp8T5q-pPffmUv_HB5QQIJq5TIhTZspHRjFt5aCQFTt3MPp4J1WG9KN_dOsK0XvWS1GCP92TO0dwicmfcqe0xyrvzVT6_RKD1YO9OwEji77shPKuFGad1np-ybmXqzs1xuZN8iRJ0sGHK9FP14JnuMBmPP3Ottf6J8RMv1JxlcL30AmHbZ6IkBQcwViTvoLJTgBnA3jMnXaBBEZ9WTlCcnJr8uHwHFkr500r8ORNigtrrvzI31EemziLz9IEnOQL911TRS2OooXsg3LLt4w-xZutgmlXLzHLlvaPEOs3_gM7aAP3q90BXAjx2l5VRRQAgd6RTYzdvxwuYwDYJxGmzOxt4lmftny-si6hjvRjCT2a3NOl3Eu07xvbmfVyf5UmatcMeiWpsf8omUvJKwJg0NQbVZFD0Y4VHLYbu81yNaIBtWbmO2PFH2FB5lkNHqylh7EkWPvw8d3gRyQq9JwtCaFUTFb3tSKTTtCXW5PG5S46SFyqVOA4kK_ggYgta1gdO7yadoYIvrRxpwUHkO3iZqG0YLpljZoGTjS9SHAnQx4BHEF-hn_a5nB2NNcBwhUetFfZp42CzKqWCrGv3-nN9487Lor0=w458-h609-no" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/hd6fsJeEN61ZT-pNacPxMiAWgPS4rv4ZlsD1F59FuCnbM_fnt6kBUal81ndccEwh3Vy8hod3Qq9aIVBPWBK-RW3EULL2iJcp4csZOCnP8ZBMLuefwLiOuXcvC49DegLcsaPhzaLAp2Zl99zWbsG-3yin4h9JTTU12MNH4yC10H3J0VgK-Kc9OtNFWEEQdN-faENSQKZ-Ybuzpzo17Mqdse2x9kRzo6iJZuwJQdhApysVWBiPpEo01YX-q38MBG-LCZ4wv-CMHP-7C-Kmy4xnPfLRhKauYiHzffFRCECtPlb_WtF6nKdNgIQ6W8xNy2fdyLdZIBmivZ-GFrFYOmGtekzyIFmVuSR9ugMulzHepNLt7wZUXKz6DdfWfaLbxfGslXOlMY4baJZLIZx7L4id5WkCnhDMJlSRrawpm0aodNJxr826MOOhDHbQ4Cdif8soLSroPcZSL1RrPLUeBCKoA6tdMOY3IV61TwQe9-bnDMh5TP4ICzSwrAT16F5gDSC6DSPUaUmeybcf6tY20j0go_fegxMxvpGgyqrH99BLp-gaa5DBd7WgStubHtIAKodLHaUO32Mb37s2tnSNxa3D6x1dv4DJH6ot_9erZAcPseJD_iU3dctnlrlAT_baj5cdlI04w5UwJVZUZMsqJGPzMlKt=w811-h609-no" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>




<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Blog Title</h1>
				<h3>6/8/1995</h3>
				<hr>
				<p> <!-- start slipsum code -->

Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.

<!-- end slipsum code --></p>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Blog Title</h1>
				<h3>2/12/2018</h3>
				<hr>
				<p><!-- start slipsum code -->

My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?

<!-- end slipsum code --> </p>
			</div>
		</div>
	</div>
</div>




	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>